datasets==3.5.1
firebase_admin==6.5.0
google-generativeai
nltk==3.9.1
pandas==2.2.3
pdfplumber==0.11.5
Pillow==11.2.1
plotly==5.23.0
protobuf
PyPDF2==3.0.1
Pyrebase4==4.8.0
python-dotenv==1.1.0
reportlab==4.3.1
Requests==2.32.3
scikit_learn==1.6.1
spacy==3.8.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.8.0/en_core_web_md-3.8.0-py3-none-any.whl
streamlit
streamlit_extras
streamlit_option_menu==0.3.13
transformers==4.51.3
