streamlit
pandas
pdfplumber
spacy==3.7.2
plotly
scikit-learn
numpy
firebase-admin
google-generativeai
nltk
Pillow
PyPDF2
Pyrebase4
python-dotenv
reportlab
Requests
streamlit-extras
streamlit-option-menu
transformers
https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.7.1/en_core_web_md-3.7.1-py3-none-any.whl